.container{
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.contador{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.border{
    background-color: gray;
    border: 3px solid blue;
    padding: 10px;
    position: absolute;
    transform: translate(50%, 250%);
}

body{
    background-attachment: fixed;
    background-image: url(https://wallpapercave.com/wp/wp2757890.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: white;
    font-size: 30px;
    margin-bottom: 35px;
}
h2{
    color: white;
    font-size: 30px;
    margin: 0px;
}
h3{
    color: white;
    font-size: 20px;
    margin: 0px;
}